@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Parrot Wings</h1>
    <p class="lead">PW Application.</p>
    <p>@Html.ActionLink("Go to Transactions", "Index", "AccountTransactions", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
